<div class="col-md-5 offset-md-4 card card-body mt-5">
    <form #deleteBook="ngForm" (ngSubmit)="deleteBookMethod(deleteBook)">
        <h1 class="bg-info text-light card" align="center">Delete Book</h1>
        <h6 class="text-danger float-right">*Required Fields</h6>
        <div class="form-group">
            <label for="BookId" class="text-success">Book Id<h6 class="text-danger float-right">*</h6></label>
            <input type="number" #BookId="ngModel" ngModel name="BookId" id="bookId" class="form-control" required
                placeholder="Enter Book id">
            <div *ngIf="BookId.touched && BookId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="deleteBook.invalid">Delete Book </button>
    </form>
</div>